.nfs*
*.ipynb
*.pyc
.dumbo.json
.DS_Store
.*.swp
*.pth
**/__pycache__/**
.ipynb_checkpoints/
datasets/data/
datasets/invar_data/synthetic/data
datasets/invar_data/synthetic/label
datasets/invar_data/synthetic/equations
datasets/invar_data/synthetic/val_data
datasets/invar_data/synthetic/val_label
datasets/invar_data/synthetic/val_equations
datasets/invar_data/synthetic/trial_data
datasets/invar_data/synthetic/trial_label
datasets/invar_data/synthetic/trial_equations
datasets/invar_data/synthetic_two/data
datasets/invar_data/synthetic_two/label
datasets/invar_data/synthetic_two/equations
datasets/invar_data/synthetic_two/val_data
datasets/invar_data/synthetic_two/val_label
datasets/invar_data/synthetic_two/val_equations
datasets/invar_data/synthetic_two_fake/data
datasets/invar_data/synthetic_two_fake/label
datasets/invar_data/synthetic_two_fake/equations
experiment-*
*.tmp
*.pkl
**/.mypy_cache/*
.mypy_cache/*
not_tracked_dir/
.vscode
.history
./datasets/invar_data/synthetic_short
job.slurm
